@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

html {
  background-color: #eae8ec;
  -webkit-animation: fadeIn 2s ease-in-out forwards;
  animation: fadeIn 2s ease-in-out forwards;
}

.search-true:root {
  height: auto;
}

.search-false:root {
  height: 100%;
}

#root {
  height: inherit;
}

.main {
  margin: 2rem 0;
}

.title, .arrows {
  display: flex;
  justify-content: center;
}

.title button {
  border: none;
}

.search button {
  float: right;
  width: 25%;
}

.title {
  margin-top: 4rem;
}

.title h1 {
  position: relative;
  margin-top: -1rem;
}

.section {
  height: 100%;
}

.section li {
  list-style-type: none;
}

.arrows {
  position: fixed;
  bottom: 0;
  padding: 2rem 0;
  background-color: rgba(255, 255, 255, 0.5);
}

#page-numbers {
  background-color: transparent;
}

#page-numbers div {
  font-size: 1.5rem;
}

.arrows button {
  border: none;
}

.page-number {
  margin: 0 .5rem;
  background-color: white;
}

.page-number {
  box-shadow: 0.5px 0.5px 5px 0px lightgray;
  border: none;
}

.photo-gallery {
  padding-bottom: 10%;
}

.my-img:hover {
  opacity: 0.7;
}

.my-img {
  border-radius: 3%;
  box-shadow: 0 0 5px rgba(48, 39, 54, 0.9);
  -webkit-animation: fadeIn 1s ease-in;
  animation: fadeIn 1s ease-in;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 10px;
	width: 100%;
}

#page-numbers {
  display: none;
}

.back {
  height: 48px;
  width: 48px;
  background: url('../images/back.svg') no-repeat;
}

.next {
  height: 48px;
  width: 48px;
  background: url('../images/next.svg') no-repeat;
  margin-left: 5em;
}

.img-container button {
  height: 100%;
}




