.main {
  margin: 2rem 0;
}

.title, .arrows {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.title {
  margin-top: 4rem;
}

.section {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-items: center;
  /* height: 100vh; */
}

.page-number {
   /* width: 10rem; */
   margin: 0 .5rem;
}

.arrows {
  margin-bottom: 4rem;
}

 .img-container {
  /* border: 0.05em solid black; */
  /* border-radius: 3%; */
  width: 250px;
}

.photo-gallery img {
  height: auto;
  width: 250px;
  /* max-height: 90vw; */
  /* min-height: 200px; */
}

#page-numbers {
  display: none;
}

.back {
  height: 48px;
  width: 48px;
  background: url('../images/back.svg') no-repeat;
}

.next {
  height: 48px;
  width: 48px;
  background: url('../images/next.svg') no-repeat;
}

/* Larger than mobile */
@media (min-width: 550px) {
  .header .row {
    display: flex;
    align-items: center;
    margin-top: 4rem;
  }

  .search {
    margin-bottom: 0;
  }

  .title {
    margin-top: 0;
  }

  .back {
    background: url('../images/back.svg') right no-repeat;
    margin-right: 10%;
  }
}

@media (min-width: 628px) {
  .header .row {
    margin-bottom: 3rem;
  }

  .title {
    justify-content: flex-start;
  }

  .section {
    height: 130vh;
    /* width: 515px; */
  }
}

@media (min-width: 755px) {
  .img-container {
    margin-left: 1em;
  }
}

/* Larger than tablet */
@media (min-width: 830px) {
   #page-numbers {
      display: flex;
      justify-content: center;
      margin-bottom: 4rem;
    }

    .arrows {
      display: none;
    }

    .header {
      margin-left: 1em;
    }
}

@media (min-width: 1000px) {
    .section {
      height: 100vh;
    }
}
