/*//////////////////////////////
         MEDIA QUERIES
//////////////////////////////*/

/* base styles */
@media (min-width: 320px) {
  .search-false {
    margin-top: calc(100vh - 120%);
    margin-bottom: auto;
  }

  .search-true {
    margin: 5% 0;
  }
  .search input {
    width: 100%;
  }
  .search button {
    float: none;
    width: 100%;
  }
}

@media (min-width: 400px) {
  .header {
    margin: 0 2rem;
  }
}

/* Larger than mobile */
@media (min-width: 550px) {
  .header .row {
    display: flex;
    align-items: center;
    margin-top: 4rem;
  }

  .search {
    margin-bottom: 0;
  }

  .title {
    margin-top: 0;
  }

  .back {
    background: url('../images/back.svg') right no-repeat;
    margin-right: 10%;
  }
}

@media (min-width: 628px) {
  .header .row {
    margin-bottom: 3rem;
  }

  .title {
    justify-content: flex-start;
  }
}

@media (min-width: 755px) {
  .search-false {
    margin-top: 60%;
  }
}

/* Larger than tablet */
@media (min-width: 830px) {
  #page-numbers {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .photo-gallery {
    margin-bottom: 0px;
  }

  .arrows {
    display: none;
  }

  .header {
    margin-left: 1em;
  }
}

@media (min-width: 1000px) {
  #page-numbers {
    margin-bottom: 0;
  }

  .search button {
    width: 25%;
    float: right;
  }
  .search input {
    width: 73%;
  }

  .search-false {
    margin-top: 27%;
  }
}

@media (min-width: 1280px) and (min-height: 900px) {
  .search-false {
    margin-top: 33%;
  }
}

@media (min-width: 1400px) {
  .search-false {
    margin-top: 25%;
  }

  #page-numbers {
    position: fixed;
    bottom: 0;
  }

  .search-false {
    margin-top: 29%;
  }
}

img .hoverZoomLink {
  display: none;
}

@media (max-width : 2000px) {
	#content {
		-moz-column-count: 4;
		-moz-column-gap: 0px;
		-webkit-column-count: 4;
		-webkit-column-gap: 0px;
		column-count: 4;
    column-gap: 0px;
    width: 1500px;
		width: calc(100vw - 10%);
	}

	#container {
    width: 1500px;
    width: calc(100vw - 10%);
    margin: 0 auto;
	}
}

/*//////////////////////////////
      Photo Gallery Layout
//////////////////////////////*/

@media (max-width : 1499px) {
	#content {
		-moz-column-count: 3;
		-moz-column-gap: 0px;
		-webkit-column-count: 3;
		-webkit-column-gap: 0px;
		column-count: 3;
		column-gap: 0px;
    width: 1400px;
    width: calc(100vw - 10%);
	}

	#container {
    width: 1400px;
    width: calc(100vw - 10%);
	}
}

@media (max-width : 1299px) {
	#content {
		-moz-column-count: 3;
		-moz-column-gap: 0px;
		-webkit-column-count: 3;
		-webkit-column-gap: 0px;
		column-count: 3;
		column-gap: 0px;
    width: 1200px;
    width: calc(100vw - 10%);
	}

	#container {
    width: 1200px;
    width: calc(100vw - 10%);
	}
}

@media (max-width : 1099px) {
	#content {
		-moz-column-count: 3;
		-moz-column-gap: 0px;
		-webkit-column-count: 3;
		-webkit-column-gap: 0px;
		column-count: 3;
		column-gap: 0px;
    width: 1000px;
    width: calc(100vw - 10%);
	}

	#container {
    width: 1000px;
    width: calc(100vw - 10%);
	}
}

 @media (max-width : 999px) {
	#content {
		-moz-column-count: 2;
		-moz-column-gap: 0px;
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
    width: 900px;
    width: calc(100vw - 10%);
	}

	#container {
    width: 900px;
		width: calc(100vw - 10%);
	}
}

@media (max-width : 799px) {
	#content {
		-moz-column-count: 2;
		-moz-column-gap: 0px;
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
    width: 700px;
    width: calc(100vw - 10%);
	}

	#container {
    width: 700px;
    width: calc(100vw - 10%);
  }

  .photo-gallery {
    margin-bottom: 10%;
  }
}

@media (max-width : 599px) {
	#content {
		-moz-column-count: 2;
		-moz-column-gap: 0px;
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
     width: 500px;
    width: calc(100vw - 10%);
	}

	#container {
    width: 500px;
    width: calc(100vw - 10%);
	}
}

@media (max-width: 499px) {
  #content {
    -moz-column-count: 1;
		-moz-column-gap: 0px;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
    width: 400px;
    width: calc(100vw - 10%);
  }

  #container {
    width: 400px;
    width: calc(100vw - 10%);
  }

  .img-container {
    margin-left: 0em;
    margin-right: 0em;
  }
}

@media (max-width: 399px) {
  #content {
    -moz-column-count: 1;
		-moz-column-gap: 0px;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
    width: 300px;
    width: calc(100vw - 10%);
  }

  #container {
    width: 300px;
    width: calc(100vw - 10%);
  }
}
